<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Newsline</title>

   <!-- Bootstrap core CSS -->
   <link href="static/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom styles for this template -->
   <link href="static/css/personal.css" rel="stylesheet">
   <link href="static/css/vertical-timeline.css" rel="stylesheet">

   <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
   <![endif]-->

 </head>

 <body>


   <div class="container-full">

     <div align="center">
       <a href="/"><h1 class="splash-small">Newsline</h1></a>
       <h2 class="caption" style="font-size:1.5em">Your Portal to News with Context</h2>
       <h2 class="caption" style="font-size:1.3em; color:orange"> Live search is currently not available. You are welcome to explore the wordcloud in the frontpage or come back later. </h2>

       <div class="myfooter">
	 Jun Yan - 
	 An <a href="http://insightdatascience.com" target="_blank">Insight Data Science</a> Project  - 
	 <a href="https://github.com/spiningup/Insight_newsline" target="_blank">Github Repo</a> - 
	 <a href="mailto:mouseyan@gmail.com">Contact Me</a>
       </div>
     </div>
   </div>

   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
<!--   <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
   <script type="text/javascript" src="static/js/jquery-1.11.0.min.js"></script> 
   <script type="text/javascript" src="static/js/bootstrap.min.js"></script>

   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-22711457-4', 'newsline.me');
     ga('send', 'pageview');
   </script>

 </body>
</html>
